{% extends "page.html" %}
{% load base_tags %}

<style>
</style>

{% block page_id %}faqs-page{% endblock %}

{% block title %}
<title>FAQs | Biodiversity and Climate Geoportal</title>
{% endblock %}

{% block container %}
<div id="faq-wrapper" class="container faqs">
  <div class="page-header">
    <h1>FAQ Page</h1>
  </div>
  
  <h2>What is the Biodiversity and Climate Geoportal for?</h2>
  <p>This Geoportal has been designed to provide, upload, and share geospatial data regarding biodiversity and climate in Papua New Guinea. This includes global data on coral reefs, mangroves, forests, and other critical ecosystems, which can be layered with local level data to create insights. Users can interact with maps and data, and also use it as a part of the grantmaking and reporting process for the Biodiversity and Climate Fund. To learn more about the fund, see the website: <a href="https://pngbcf.org/" target="_blank">www.pngbcf.org</a>.</p>
  
  <h2>Who is the custodian of the Biodiversity and Climate Geoportal?</h2>
  <p>Currently the custodian of the Geoportal is the United Nations Development Programme (UNDP) in Papua New Guinea. All data is serviced through cloud computing services provided by UN International Computing Center (UN ICC) and Amazon Web Services. This ensures fast data transfers and constant availability. The initiative is part of the PNG Natural Resource Management Hub, a set of tools for improving the use of data in environmental decision-making in PNG. The remainder of the tools can be accessed at: <a href="https://png-nrmhub.org/" target="_blank">www.png-nrmhub.org</a>. All of the tools in the PNG NRM Hub are open source and open access.  </p>
  
  <h2>Is all of the data public?</h2>
  <p>Most of it. At the time of writing, data uploaded into the Biodiversity and Climate Geoportal by UNDP is from globally available, open datasets. Whilst these datasets are public, data can be uploaded which is for certain users, groups or kept private.</p>
  
  <h2>How can I learn more about how to use the Geoportal?</h2>
  <p>Training videos and documents can be found on <a href="/training">this page</a>. If you are interested in learning more about the backend of the Geoportal, you can see the Github <a href="https://github.com/undp-png"  target="_blank">code repository here</a> or visit the <a href="https://geonode.org/"  target="_blank">Geonode website</a>. </p>
  
  <h2>Why do I need a user account?</h2>
  <p>Registering for a user account can unlock more functionalities such as uploading data, editing data, styling data, adding metadata, and joining a “user group”. User groups may have special privileges or share private data to certain members.</p>
  
  <h2>How can I make a user account?</h2>
  <p>Click on the "Register" button. Once you have filled in your request, an administrator will review your account creation request. If approved, you will receive an email with your username and password shortly afterwards. </p>
  
  <h2>Why would I need a group?</h2>
  <p>
    User groups are useful for organizations or departments who have a significant use case for sharing data amongst themselves. Data and maps uploaded or created in the Portal can be altered so they are only shared amongst members of a certain group. To request creating a group, email the site administrator at <a href="mailto:png.im@undp.org">png.im@undp.org</a> explaining your use case and level of access required. Access to groups is as follows: 
      <ul>
        <li>
          Public
          <ul>
            <li>visible to all registered users</li>
            <li>registered users can join or invite other users to the group</li>
            <li>useful for content curation and monitoring updates to speciﬁc content</li>
          </ul>
        </li>
        <li>
          Public (Invite-Only)
          <ul>
            <li>visible to all registered users</li>
            <li>registered users cannot join the group without being explicitly invited by a group manager</li>
          </ul>
        </li>
        <li>
          Private
          <ul>
            <li>hidden from view unless a registered user account has been explicitly invited to the group</li>
            <li>These groups are useful for managing access control for sensitive content or data, or for restricting certain actions such as content editing permissions to selected users</li>
          </ul>
        </li>
      </ul>
  </p>  
</div>
{% endblock %}

{% block footer_full %}
  {% include './geonode-mapstore-client/snippets/footer_full.html'%}
{% endblock %}