{% extends "index.html" %}
{% load static %}
{% load base_tags %}

{% block title %} <title>Biodiversity and Climate Geoportal</title> {% endblock %}

{% block content %}

<div class="home">

  <section id="about">
    <div class="container text-center">
      <p style="font-size: 1.125rem; margin-bottom: 2.125rem;">The Biodiversity and Climate Geoportal is a gateway into a world of user-friendly, open-access data to help policymakers and stakeholders in Papua New Guinea (PNG) to make informed environmental policies and investments</p>
      <p>
        Papua New Guinea, home to 5% of the world's biodiversity in just 1% of its land mass, guards a breathtaking trove of natural resources including virgin rainforests, coral reefs, flora and fauna. PNG's Biodiversity and Climate Geoportal (BCG) is an online tool for better natural resource management (NRM). Developed by UNDP under the aegis of PNG's <a href="http://www.png-nrmhub.org">Natural Resource Management (NRM) Hub</a> to support policymakers and other stakeholders with NRM data for making better policies and investments. </p>
        <p>
        The BCG is built using Geonode, an open-source, web-based platform for developing geospatial information systems, and will provide policymakers and other stakeholders with NRM data for making better policies and investments. 
        </p>
    </div>
  </section>
{% endblock %}


{% block container %}

  <section id="services">
    <div class="container">
      <h2>What you can do at the Biodiversity and Climate Geoportal </h2>
      <div class="services-wrapper">
        <div>
          <h4>View the interactive data catalogue</h4>
          <p>You can browse through spatial and non-spatial data which can be viewed in browser, or streamed into desktop GIS software.</p>
        </div>
        <div>
          <h4>Create user accounts</h4>
          <p>Registering for the platform will allow you to be added to user groups, and also unlock functionalities such as uploading, editing and sharing private data.</p>
        </div>
        <div>
          <h4>Download data</h4>
          <p>You can download public datasets, and also stream and integrate them into existing platforms.</p>
        </div>
        <div>
          <h4>Create customized maps</h4>
          <p>As a registered user, you will be able to create customized maps from layers from within the Geoportal and download and integrate them directly into reports.
          </p>
        </div>
        <div>
          <h4>Work with interactive data products</h4>
          <p>You can work with tools like GeoStories to  integrate text, multimedia and data to reach a wide audience, with dashboards to monitor progress.</p>
        </div>
      </div>
    </div>
  </section>


  <section id="datasets">
    {% get_visibile_resources request.user %}
  </section>

  <section class="learn">
    <div class="container">
      <div class="learn-inner">
        <div><img src="{% static 'img/4_learn.png' %}" alt=""></div>
        <div >
          <h3>Learn how to use the <br>Biodiversity and Climate Geoportal</h3>
          <p>Curriculum, including videos and a user manual, for using the Biodiversity and Climate Geoportal can be found on <a href="/training">this training page</a>. This includes how to upload, use, and develop data on this website.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="big-search">
      <div class="container">
        <h3 style="text-align: center;">Search the Geoportal</h3>
        <div class="search">
            {% include './geonode-mapstore-client/snippets/search_bar.html' with search_bar_id='gn-search-bar-footer' %}
        </div>
      </div>
    </div>
  </section>

</div>

{% endblock %}

{% block footer%}
  {% include './geonode-mapstore-client/snippets/footer_full.html'%}
  {{ block.super}}
{% endblock %}