{% extends "page.html" %}
{% load static %}

{% block page_id %}training-page{% endblock %}

{% block title %}
<title>Training | Biodiversity and Climate Geoportal</title>
{% endblock %}

{% block container %}
<div class="container training">
  <div class="page-header">
    <h1>Training</h1>
  </div>

  <h2>What can I do with the Biodiversity and Climate Geoportal?</h2>
  <div>
    <p>These training documents and accompanying presentations have been developed to support users in their journey to
      using open spatial data infrastructures effectively and efficiently.</p>
  </div>


  <h2>What is the Biodiversity and Climate Geoportal?</h2>
  <div>
    <div class="training-block">
      <img src="{% static '/img/training_portal.png' %}" alt="">
      <div>
        <p>The Biodiversity and Climate Geoportal is an online data platform for sharing and communicating data and
          insights
          about the region. It uses the <a href="https://geonode.org/" target="_blank">Geonode</a> open-source
          infrastructure as a backend, with some customizations to make it more user-friendly. The Portal is perfect for
          stakeholders including government, NGOs, civil society organizations, and local residents to share and access
          information, share project data, compare datasets across different scales and timeframes, and turn commitments
          into action. It does not have the same suite of features as QGIS, however, it is still possible to create and share
          interactive maps, multimedia stories, and upload pictures and documents using this participatory platform. </p>
        <p>The training documentation goes over the infrastructure of the Biodiversity and Climate Geoportal, how to register an
          account and sign in, download and upload data, and create and share interactive maps.</p>
      </div>
    </div>
    <h3>What do I need to use the Biodiversity and Climate Geoportal?</h3>
    <ul>
      <li>A computer with an internet connection </li>
    </ul>

    <h4>Documentation</h4>

    <p>
      Training document: <a href="https://drive.google.com/file/d/1gSXZXtwwL48CtdRTBFg4mGdy6BMRB6YS/view?usp=sharing"
        target="_blank">02_BCG_GuidanceDocument_14062022.pdf</a>
    </p>
  </div>


  <h2>Metadata Guidance Document</h2>
  <div>
    <p>For making good decisions we need good quality data, with which we can build decision-making systems, and retain
      and re-use the data in similar situations in future. All these are impossible without accurate metadata. </p>
    <p>Metadata is data about data. Metadata is information stored in a database, text document, or xml file that
      describes the purpose and creation of the data. The metadata describes what the data is about, when, how and by whom
      it was created, and how it can be used.</p>
    <p>Every dataset can be defined by creation date, name, description, license, quality and many more attributes. For
      instance, a GIS dataset containing some point locations can be described by its name, the creator, creation date,
      region name, its purpose, and its accuracy. But, without these descriptors encapsulated as metadata, it will be just
      a set of seemingly random latitudes and longitudes. </p>
    <p>This document has been developed to explain more about metadata and file naming conventions, and gives suggestions
      for their use in GeoNode and QGIS. </p>
    <h4>Documentation</h4>

    <p>
      <a href="https://drive.google.com/file/d/1gJ3kk8HcnfDY54GqFeEKFGwZyAynJedh/view?usp=sharing" target="_blank">GIS Metadata Guidance Note (pdf)</a>
    </p>
  </div>

  <h2>Training Videos</h2>

  <h4>Navigating the interface</h4>
  <iframe class="video" src="https://www.youtube.com/embed/fzq5-dlb-RY?si=fjtYyZnrTQea4GPt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
  <h4>Searching and filtering data</h4>
  <iframe class="video"  src="https://www.youtube.com/embed/gPSBd-YGTMg?si=sRdeC1HpjS2xlx_L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
  <h4>Upload or create a new dataset</h4>
  <iframe class="video" src="https://www.youtube.com/embed/DDVXfK7x7oI?si=reCLBYYQElFvchPx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
  <h4>Adding features to a dataset</h4>
  <iframe class="video" src="https://www.youtube.com/embed/j6b3klLvNsE?si=mUAZU0pw510_HNNz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
  <h4>Styling a dataset</h4>
  <iframe class="video" src="https://www.youtube.com/embed/2JkfFdb1ico?si=SuLrCk3muEAjy6Z4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
{% endblock %}

{% block footer_full %}
  {% include './geonode-mapstore-client/snippets/footer_full.html'%}
{% endblock %}