{% load static %}
<style>
    #gn-hero {
      background-image: url("{% static 'img/header.jpg' %}");
      background-size: cover;
      background-position: top;
      background-repeat: unset;
      background-color: transparent;
      background-blend-mode: unset;
      text-shadow: none;
      padding: 0;
    }
    .msgapi .gn-hero .hero-wrapper {
      max-width: 100%;
      padding: 200px 20px;
    }
    .hero-description h1 {
      text-align: center;
      font-size: 5vw;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 2.5rem;
      font-family: 'Roboto Condensed', Roboto, sans-serif;
      line-height: 7rem;
      max-width: 1200px;
      margin: 0 auto !important;
      padding-bottom: 60px;
    }
    .hero-description .subtitle {
      text-align: center;
      font-family: Roboto, Arial, 'Helvetica Neue', sans-serif;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 3rem;
      color: #ffffff;
      max-width: 800px;
      margin: 0 auto;
    }

    @media (max-width: 990px) {
      .hero-description h1 {
        font-size: 2.5rem;
        line-height: 2.75rem;
        padding-bottom: 30px;
      }
    }
</style>

<div id="gn-hero" class="gn-hero">
  <div class="hero-wrapper">
      <div class="hero-description">
        <h1>Biodiversity and Climate Geoportal</h1>
        <p class="subtitle">Connecting You to Papua New Guinea's Environmental Maps and Data</p>
      </div>
  </div>
</div>